@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

select {
    -webkit-appearance:none; /* for chrome */
    -moz-appearance:none; /*for firefox*/
    appearance:none;
}

* {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    font-family: 'Pretendard-Regular';
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

/* text-size */
.t14 {
    font-size: 14px;
    line-height: 18px;
}
.t16 {
    font-size: 16px;
    line-height: 20px;
}
.t18 {
    font-size: 18px;
    line-height: 22px;
}
.t20 {
    font-size: 20px;
    line-height: 24px;
}
.t24 {
    font-size: 24px;
    line-height: 28px;
}
.t28 {
    font-size: 28px;
    line-height: 32px;
}
.t32 {
    font-size: 32px;
    line-height: 36px;
}
.t36 {
    font-size: 36px;
    line-height: 40px;
}
.t40 {
    font-size: 40px;
    line-height: 44px;
}

/* text-weight */
.w400 {
    font-weight: 400;
}
.w500 {
    font-weight: 500;
}
.w600 {
    font-weight: 600;
}
.w700 {
    font-weight: 700;
}
.w800 {
    font-weight: 800;
}
.w900 {
    font-weight: 900;
}

/* input-style */
.input_1 {
    width: 100%;
    outline: none;
    border: 1.8px solid #9E9E9E;
    padding: 8px 10.5px;
    border-radius: 4px;
}


